{% extends 'base.html.twig' %}

{% block title %}Coder index{% endblock %}

{% block body %}
    <h1>Coder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Description</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coder in coders %}
            <tr>
                <td>{{ coder.id }}</td>
                <td>{{ coder.name }}</td>
                <td>{{ coder.surname }}</td>
                <td>{{ coder.description }}</td>
                <td>{{ coder.url }}</td>
                <td>
                    <a href="{{ path('app_coder_show', {'id': coder.id}) }}">show</a>
                    <a href="{{ path('app_coder_edit', {'id': coder.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coder_new') }}">Create new</a>
{% endblock %}
