{% extends 'base.html.twig' %}

{% block title %}Bootcamp index{% endblock %}

{% block body %}
    <h1>Bootcamp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Term</th>
                <th>Place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bootcamp in bootcamps %}
            <tr>
                <td>{{ bootcamp.id }}</td>
                <td>{{ bootcamp.name }}</td>
                <td>{{ bootcamp.term }}</td>
                <td>{{ bootcamp.place }}</td>
                <td>
                    <a href="{{ path('app_bootcamp_show', {'id': bootcamp.id}) }}">show</a>
                    <a href="{{ path('app_bootcamp_edit', {'id': bootcamp.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bootcamp_new') }}">Create new</a>
{% endblock %}
